$dark: #050028;
$grey: #d0d0d0;
$bg: #f9f8ff;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  background-color: $bg;
  overflow-x: hidden;
}

.main {
  margin-top: 20px;
  padding-bottom: 20px;
}

.textarea {
  resize: none;
  height: 200px !important;
  padding: 15px;
}

.form-title {
  text-align: center;
}

.common-form {
  max-width: 500px;
  width: 100%;

  input, textarea {
    outline: none !important;
    border-radius: 5px;
    border: none;
    box-shadow: $box-shadow;
    width: 100%;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-label {
    display: block;
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  height: 50px;
}

.menu {
  display: flex;
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;

  .header__card {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.menu__item__link {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: $dark;
}

.space-card-wrap {
  width: calc(100% / 4);
  @media screen and (max-width: 1000px) {
    width: calc(100% / 3);
  }
  @media screen and (max-width: 600px) {
    width: calc(100% / 2);
  }

  a {
    color: $dark;
    text-decoration: none;
  }
}

.space-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  padding: 20px;
  text-align: left;
  margin: 10px;
  height: 100%;
}

.single-space-card {
  margin: 0 !important;
}

.space-card__name {
  font-size: 20px;
  font-weight: bold;
}

.space-card__param {
  font-size: 14px;
  color: grey;
}

.space-card__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 160%;
  -webkit-box-orient: vertical;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey;
  margin-bottom: 5px;
}

.spaces-block {
  margin-left: -10px;
  margin-right: -10px;
}

.single-space__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "fullSpace_img fullSpace_info"
    "fullSpace_reviews fullSpace_reviews";
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-areas:
    "fullSpace_img"
    "fullSpace_info"
    "fullSpace_reviews";
  }
}

.fullSpace_img {
  grid-area: fullSpace_img;
}

.fullSpace_reviews {
  grid-area: fullSpace_reviews;
}

.fullSpace_info {
  grid-area: fullSpace_info;

  .single-space-card__description {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
  }
}

.single-space-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}

.single-space-card__list__item {
  padding: 2px 7px;
  border: 1px solid $grey;
  margin-right: 5px;
  border-radius: 5px;
  background-color: $bg;
}

.single-space-card__img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}