$dark: #050028;
$grey: #d0d0d0;
$bg: #f9f8ff;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  background-color: $bg;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  height: 50px;
}

.menu {
  display: flex;
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;

  .header__card {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.menu__item__link {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: $dark;
}

.space-card-wrap {
  width: calc(100% / 4);
  @media screen and (max-width: 1000px) {
    width: calc(100% / 3);
  }
  @media screen and (max-width: 600px) {
    width: calc(100% / 2);
  }
  a {
    color: $dark;
    text-decoration: none;
  }
}

.space-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  padding: 20px;
  text-align: left;
  margin: 10px;
  height: 100%;
}

.space-card__name {
  font-size: 20px;
  font-weight: bold;
}

.space-card__param {
  font-size: 14px;
  color: grey;
}

.space-card__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 160%;
  -webkit-box-orient: vertical;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey;
  margin-bottom: 5px;
}

.spaces-block {
  margin-left: -10px;
  margin-right: -10px;
}