body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Oswald", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #323232;
}

p::-moz-selection, span::-moz-selection, a::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, li::-moz-selection, div::-moz-selection, img::-moz-selection, body::-moz-selection, main::-moz-selection, header::-moz-selection, footer::-moz-selection {
  background-color: #e735bd;
  color: white;
}

p::selection, span::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, li::selection, div::selection, img::selection, body::selection, main::selection, header::selection, footer::selection {
  background-color: #e735bd;
  color: white;
}

body::-webkit-scrollbar {
  width: 7px;
  background: none;
}

body::-webkit-scrollbar-track-piece {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #54e01e;
  border-radius: 5px;
}

.container {
  width: 1170px;
  margin: 0px auto;
}

.common-title {
  color: #323232;
  font-size: 36px;
  font-weight: bold;
}
.common-title:after {
  margin-top: -10px;
  display: block;
  content: "";
  width: 100px;
  height: 15px;
  border-radius: 5px;
  background-color: #54e01e;
  margin-bottom: 30px;
}

section {
  padding: 70px 0px;
}

ul, ol, h1, h2, h3, h4, a {
  margin: 0px;
  padding: 0;
}

ul, ol {
  list-style: none;
}

header {
  background: url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title-wrap {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  color: white;
  font-size: 56px;
  text-align: center;
  font-weight: bold;
}

.header__menu {
  position: static !important;
}

.header__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu__link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.header__menu__link:hover {
  color: #54e01e;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.goal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goal__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 50px;
  line-height: 1.5em;
}

#goal__img-scene {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal__img-border {
  height: 213px;
  width: 400px;
  border: 3px dashed #e735bd;
}

@-webkit-keyframes move {
  from {
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    margin-top: -20px;
    margin-left: -20px;
  }
  to {
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes move {
  from {
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    margin-top: -20px;
    margin-left: -20px;
  }
  to {
    margin-top: 0px;
    margin-left: 0px;
  }
}
.goal__img {
  width: 400px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.technologies {
  background-color: #f8f8f8;
}

.technologies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.technologies__list__item {
  margin: 0px 50px;
  margin-bottom: 30px;
  padding: 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.technologies__list__item:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.technologies__list__item:hover .technologies__list__text {
  opacity: 1;
}

.technologies__list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.technologies__list__text {
  text-align: center;
  color: #323232;
  width: 200px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  opacity: 0;
}

.technologies__list__img {
  width: 150px;
  height: 211px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.technologies__list__img-big {
  width: 250px;
}

.developer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.developer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.developer__content__name {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.developer__content__group {
  margin-bottom: 10px;
}

.developer__content__vk__img {
  width: 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.developer__content__vk__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.developer__content__text {
  line-height: 1.5em;
}

.result {
  background-color: #f8f8f8;
}

.result__text {
  line-height: 1.5em;
  font-size: 18px;
}

.video-link {
  display: block;
  margin: 0px auto;
  margin-top: 30px;
  width: 50%;
  position: relative;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #e735bd;
  border-radius: 10px;
}
.video-link:hover .video-link__play, .video-link:focus .video-link__play {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.video-link .video-link__img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.video-link__play {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.gallery__grid {
  margin: 0px auto;
  margin-top: 50px !important;
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .gallery__grid {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}
@media screen and (max-width: 400px) {
  .gallery__grid {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
}

.gallery__grid__item {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.gallery__grid__item:hover, .gallery__grid__item:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.gallery__grid__fancy__img {
  width: 100%;
}

footer {
  background-color: #323232;
  height: 80px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__privacy-policy {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.footer__privacy-policy:hover {
  text-decoration: underline;
}

.footer__logo {
  display: block;
  height: 100%;
}

.footer__logo__img {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .developer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .developer__img {
    margin-bottom: 30px;
  }

  .developer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .developer__content__text {
    text-align: center;
  }

  .technologies__list__item {
    margin: 0px;
  }

  .technologies__list__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .video-link {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 95%;
  }

  .header__menu__link {
    padding: 10px;
    font-size: 16px;
  }

  .header__title {
    font-size: 36px;
  }

  .goal__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .goal__text {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .technologies__list__item {
    margin-bottom: 20px;
  }

  footer {
    padding: 30px 0px;
    height: 150px;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo__img {
    height: 40px;
  }

  .footer__privacy-policy {
    margin-bottom: 20px;
  }

  .footer__rights {
    margin-top: 20px;
  }

  .technologies__list__text {
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  .header__menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .goal__img {
    width: 300px;
    margin-left: -10px;
    margin-top: -10px;
  }

  .goal__img-border {
    width: 300px;
    height: 160px;
  }

  .header__menu__link {
    font-size: 20px;
  }

  .video-link {
    width: 100%;
  }
}