{% extends 'layout.html' %}

{% block title %}
  Личный кабинет - Бронирования
{% endblock %}



{% block content %}
  {% include 'header.html' %}
  <main class="main">
    <div class="container-fluid">
      {% if request.user.is_authenticated %}
        <h1 class="text-start common-title">Бронирования</h1>
        <div class="card">
          <div class="bookings-card-head">
            <div class="list__item__field bookings-card__space">
              <span class="bookings-card-head__text">Пространство</span>
            </div>
            <div class="list__item__field bookings-card__start-date">
              <span class="bookings-card-head__text">Дата начала</span>
            </div>
            <div class="list__item__field bookings-card__end-date">
              <span class="bookings-card-head__text">Дата окончания</span>
            </div>
            <div class="list__item__field bookings-card__action">
              <span class="bookings-card-head__text">Действие</span>
            </div>
          </div>
          <ul class="list">
            {% for el in bookings %}
              {% if request.user.id == el.user.id %}
                <li class="list__item">
                  <div class="list__item__field bookings-card__space">
                    <a href="/spaces/{{ el.space.id }}" class="list__item__text">{{ el.space }}</a>
                  </div>
                  <div class="list__item__field bookings-card__start-date">
                    <span class="list__item__text">{{ el.start_date.date }}</span>
                  </div>
                  <div class="list__item__field bookings-card__end-date">
                    <span class="list__item__text">{{ el.end_date.date }}</span>
                  </div>
                  <div class="list__item__field bookings-card__action">
                    <a href="update/{{ el.id }}" class="btn common-btn accent">Продлить</a>
                    <a href="delete/{{ el.id }}"
                       class="btn common-btn danger bookings-card__action__delete">Удалить</a>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <h1>You are not authorized</h1>
        <a href="/accounts/login" class="btn btn-primary">Войти</a>
        <a href="{% url 'register' %}" class="btn btn-success">Регистрация</a>
      {% endif %}
    </div>
  </main>
{% endblock %}
