{% extends 'layout.html' %}

{% block title %}
  Личный кабинет - Бронирования
{% endblock %}



{% block content %}
  {% include 'header.html' %}
  <main class="main">
    <div class="container-fluid">
      <h1 class="form-title">{{ bookings.space }}</h1>
      <div class="mx-auto text-center mb-2">
        <span>Дата начала:</span>
        <span>{{ bookings.start_date }}</span>
      </div>
      <div class="mx-auto text-center mb-2">
        <span>Дата окончания:</span>
        <span>{{ bookings.end_date }}</span>
      </div>
      <form method="post" class="mx-auto common-form">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Удалить бронирование</button>
      </form>
    </div>
  </main>
{% endblock %}
