{% extends 'layout.html' %}

{% block title %}
  Личный кабинет - Бронирования
{% endblock %}



{% block content %}
  {% include 'header.html' %}
  <main class="main">
    <div class="container-fluid">
      {% if request.user.is_authenticated %}
        {% if request.user.user_role == 'Operator' or request.user.user_role == 'Admin' %}
          <h1>Dashboard</h1>
          <div class="digrams">
            <div class="digrams__item">
              <canvas id="myChart"></canvas>
            </div>
            <div class="digrams__item">
              <canvas id="myChart2"></canvas>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </main>
  <script>
      $(document).ready(function () {
          var date = [];
          var dateTimeFormat = [];
          for (var i = 0; i < 20; i++) {
              date[i] = new Date();
              date[i].setDate(date[i].getDate() - i);
              dateTimeFormat[i] = new Intl.DateTimeFormat('ru', {
                  year: '2-digit',
                  month: '2-digit',
                  day: '2-digit'
              }).format(date[i]);
          }
          dateTimeFormat.reverse();
          var aspectRatio = 2;
          if (window.screen.width < 800) {
              aspectRatio = 1;
          }
          const config = {
              type: 'line',
              data: {
                  labels: [...dateTimeFormat],
                  datasets: [{
                      label: 'Количество',
                      backgroundColor: 'lightblue',
                      borderColor: 'royalblue',
                      data: {{date_joined_list}},
                  }]
              },
              options: {
                  layout: {
                      padding: 10,
                  },
                  plugins: {
                      legend: {
                          {#display: false,#}
                          position: 'bottom',
                      },
                      title: {
                          display: true,
                          text: 'Количество новых пользователей за последние дни'
                      }
                  },
                  scales: {
                      y: {
                          title: {
                              display: true,
                              text: 'Количество Пользователей'
                          },
                          ticks: {
                              stepSize: 1,
                          },
                      },
                      x: {
                          title: {
                              display: true,
                              text: 'Даты'
                          }
                      }
                  },
                  aspectRatio: aspectRatio
              }
          };
          var myChart = new Chart(
              document.getElementById('myChart'),
              config
          );
      });
  </script>
{% endblock %}
