{% extends 'layout.html' %}

{% block title %}
  Личный кабинет - Бронирования
{% endblock %}



{% block content %}
  {% include 'header.html' %}
  <main class="main">
    <div class="container-fluid">
      {% if request.user.is_authenticated %}
        {% if request.user.user_role == 'Operator' or request.user.user_role == 'Admin' %}
          <h1>Dashboard</h1>
          <div class="digrams">
            <div class="digrams__item">
              <canvas id="myChart"></canvas>
            </div>
            <div class="digrams__item">
              <canvas id="myChart2"></canvas>
            </div>
            <div class="digrams__item">
              <canvas id="myChart3"></canvas>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </main>
  <script>
      $(document).ready(function () {
          var date = [];
          var dateTimeFormat = [];
          for (var i = 0; i < 20; i++) {
              date[i] = new Date();
              date[i].setDate(date[i].getDate() - i);
              dateTimeFormat[i] = new Intl.DateTimeFormat('ru', {
                  year: '2-digit',
                  month: '2-digit',
                  day: '2-digit'
              }).format(date[i]);
          }
          dateTimeFormat.reverse();
          var aspectRatio = 2;
          if (window.screen.width < 800) {
              aspectRatio = 1;
          }
          const config = {
              type: 'line',
              data: {
                  labels: [...dateTimeFormat],
                  datasets: [{
                      label: 'Количество пользователей',
                      backgroundColor: 'blue',
                      borderColor: 'lightblue',
                      data: {{date_joined_list}},
                  }]
              },
              options: {
                  responsive: true,
                  layout: {
                      padding: 10,
                  },
                  plugins: {
                      legend: {
                          display: true,
                          position: 'bottom',
                      },
                      title: {
                          display: true,
                          text: 'Количество новых пользователей за последние дни'
                      }
                  },
                  scales: {
                      y: {
                          title: {
                              display: true,
                              text: 'Количество пользователей'
                          },
                          ticks: {
                              stepSize: 1,
                          },
                      },
                      x: {
                          title: {
                              display: true,
                              text: 'Даты'
                          }
                      }
                  },
                  aspectRatio: aspectRatio
              }
          };
          var myChart = new Chart(
              document.getElementById('myChart'),
              config
          );
          const config2 = {
              type: 'line',
              data: {
                  labels: [...dateTimeFormat],
                  datasets: [{
                      label: 'Количество пользователей',
                      backgroundColor: 'green',
                      borderColor: 'lightgreen',
                      data: {{all_users_list}}
                  }]
              },
              options: {
                  responsive: true,
                  layout: {
                      padding: 10,
                  },
                  plugins: {
                      legend: {
                          display: true,
                          position: 'bottom',
                      },
                      title: {
                          display: true,
                          text: 'Всего пользователей'
                      }
                  },
                  scales: {
                      y: {
                          title: {
                              display: true,
                              text: 'Количество пользователей'
                          },
                          ticks: {
                              stepSize: 1,
                          },
                      },
                      x: {
                          title: {
                              display: true,
                              text: 'Даты'
                          }
                      }
                  },
                  aspectRatio: aspectRatio
              }
          };
          var myChart2 = new Chart(
              document.getElementById('myChart2'),
              config2
          );
          const config3 = {
              type: 'bar',
              data: {
                  labels: ['Админы', 'Операторы', 'Пользователи'],
                  datasets: [{
                      label: 'Количество пользователей',
                      backgroundColor: [
                          'indigo',
                          'firebrick',
                          'gold',
                      ],
                      data: [{% for role in user_roles %}
                          {{ role.usercount }},
                      {% endfor %}]
                  }]
              },
              options: {
                  responsive: true,
                  layout: {
                      padding: 10,
                  },
                  plugins: {
                      legend: {
                          display: false,
                          position: 'bottom',
                      },
                      title: {
                          display: true,
                          text: 'Количество пользователей по ролям'
                      }
                  },
                  scales: {
                      y: {
                          title: {
                              display: true,
                              text: 'Количество пользователей'
                          },
                          ticks: {
                              stepSize: 1,
                          },
                      },
                      x: {
                          title: {
                              display: true,
                              text: 'Роли'
                          }
                      }
                  },
                  aspectRatio: aspectRatio
              }
          };
          var myChart3 = new Chart(
              document.getElementById('myChart3'),
              config3
          );

          function beforePrintHandler() {
              for (var id in Chart.instances) {
                  Chart.instances[id].resize();
              }
          }

          window.addEventListener('beforeprint', () => {
              myChart.resize(600, 600);
          });
          window.addEventListener('afterprint', () => {
              myChart.resize();
          });
      });
  </script>
{% endblock %}
