{% extends 'layout.html' %}

{% block title %}
  {{ name }}
{% endblock %}


{% block content %}
  {% include 'header.html' %}
  <main class="main">
    <h1 class="form-title">Войти</h1>
    {% if next %}
      <p>You can't access that page</p>
    {% endif %}

    <form class="mx-auto common-form" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <label class="form-label">
        <span>Имя:</span>
        {{ form.username }}
      </label>
      <label class="form-label">
        <span>Пароль:</span>
        {{ form.password }}
      </label>
      {% if form.errors %}
        <span class="form-error">{{ form.errors }}</span>
      {% endif %}
      <button class="btn btn-primary" type="submit">Войти</button>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </main>
{% endblock %}