{% extends 'layout.html' %}

{% block title %}
  {{ name }}
{% endblock %}


{% block content %}
  {% include 'header.html' %}
  <main class="main">
    <h1 class="form-title">{{ name }}</h1>
    <form class="mx-auto common-form" action="{% url 'register' %}" method="post">
      {% csrf_token %}

      <label class="form-label">
        <span>Имя</span>
        {{ form.username }}
      </label>
      <label class="form-label">
        <span>Пароль</span>
        {{ form.password1 }}
      </label>
      <label class="form-label">
        <span>Повторите пароль</span>
        {{ form.password2 }}
      </label>
      {% if form.errors %}
        <span class="form-error">{{ form.errors }}</span>
      {% endif %}
      <button class="btn btn-success" type="submit">Зарегистрироваться</button>
    </form>
  </main>
{% endblock %}