{% load static %}
{% load active_link_tags %}
<header class="header">
  <div class="container-fluid">
    <div class="header__card d-flex justify-content-between align-items-center">
      <a href="/"><img src="{% static 'img/logo.svg' %}" class="logo" alt="Logo"/></a>
      <ul class="menu">
        <li class="menu__item">
          <a href="{% url 'index' %}" class="menu__item__link {% active_link 'index' strict=True %}">Главная</a>
          <a href="{% url 'spaces:index' %}" class="menu__item__link {% active_link 'spaces:index' %}">Пространства</a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'bookings:index' %}" class="menu__item__link {% active_link 'bookings:index' %}">Бронирования</a>
            {% if request.user.user_role == 'Operator' or request.user.user_role == 'Admin' %}
              <a href="{% url 'dashboard' %}" class="menu__item__link {% active_link 'dashboard' %}">Dashboard</a>
            {% endif %}
            {% if request.user.user_role == 'Admin' %}
              <a href="/admin" class="menu__item__link">Admin page</a>
            {% endif %}
          {% endif %}
        </li>
      </ul>
      <div class="header-btns">
        {% if request.user.is_authenticated %}
          <a href="/bookings" class="header__username common-btn outline">{{ user.username }}</a>
          <a href="/accounts/logout" class="btn common-btn danger">Выйти</a>
        {% else %}
          <a href="/accounts/login" class="btn common-btn outline header__enter">Войти</a>
          <a href="{% url 'register' %}" class="btn common-btn accent">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>