{% load static %}
<header class="header">
  <div class="container-fluid">
    <div class="header__card d-flex justify-content-between align-items-center">
      <a href="/"><img src="{% static 'img/logo.svg' %}" class="logo" alt="Logo"/></a>
      <ul class="menu">
        <li class="menu__item">
          <a href="/spaces" class="menu__item__link">Spaces</a>
          <a href="/test" class="menu__item__link">Test 2</a>
        </li>
      </ul>
      <div>
        <a href="#" class="btn btn-danger">Выйти</a>
        <a href="/accounts/login" class="btn btn-primary">Войти</a>
        <a href="{% url 'register' %}" class="btn btn-success">Регистрация</a>
      </div>
    </div>
  </div>
</header>