{% extends 'layout.html' %}

{% block title %}
  {{ space.name }}
{% endblock %}



{% block content %}
  {% include 'header.html' %}
  <main class="main">
    <div class="container-fluid">
      <h1 class="text-start">{{ space.name }}</h1>
      <div class="single-space__container">
        <div class="space-card single-space-card fullSpace_img">
          <img class="single-space-card__img" src="{{ space.photo.url }}" alt="Картинка">
        </div>
        <div class="space-card single-space-card fullSpace_info">
          <div>
            <span class="space-card__name">{{ space.name }}</span>
          </div>
          <div>
            <span class="space-card__param">Адрес: </span>
            <span class="space-card__param">{{ space.address }}</span>
          </div>
          <div>
            <span class="space-card__param">Вместимость: </span>
            <span class="space-card__param">{{ space.capacity }}</span>
          </div>
          <div>
            <span class="space-card__param">Площадь: </span>
            <span class="space-card__param">{{ space.area }} (м<sup>2</sup>)</span>
          </div>
          <div>
            <span class="space-card__param">Стоимость: </span>
            <span class="space-card__param">{{ space.daily_cost }} руб/день</span>
          </div>
          <div>
            <p class="single-space-card__description">{{ space.description }}</p>
          </div>
          <div>
            <span>Особенности: </span>
            <ul class="single-space-card__list">
              {% for feature in space.feature.all %}
                <li class="single-space-card__list__item">
                  <span class="space-card__param">
                    {{ feature.feature }}
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="space-card single-space-card fullSpace_reviews">
          <div>
            <span class="space-card__name">Отзывы</span>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
